.chart-bar-top{
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
}
.box1{
    border: 1px solid black;
    width: 100%;
    margin: 10px;
}

.box2{
    border: 1px solid black;
    width: 100%;
    margin: 10px;
}
.box3{
    border: 1px solid black;
    width: 100%;
    margin: 10px;
}
.box4{
    border: 1px solid black;
    width: 100%;
    margin: 10px;
}
.box4 canvas{
    width: 100%;
    height: 100%;
    display: block;
}
.chart-bar-bottom{
    display: flex;
    justify-content: space-around;
}
.bbox1{
    border: 1px solid black;
    width: 100%;
    margin: 10px;
    height: fit-content;

}
.bbox2{
    border: 1px solid black;
    width: 100%;
    margin: 10px;
}
.bbox1 canvas,
.bbox2 canvas {
    width: 100%;
    height: 100%;
    display: block;
}
