<!-- <div class="row">
  <div>
    <h2>Charts</h2>
    <canvas id="bubbleChartCanvas"></canvas>
  </div>

  <div>
    <h2>Charts</h2>
    <canvas id="barChartCanvas"></canvas>
  </div>
</div> -->

<div class="charts-bar">
  <div class="chart-bar-top">
    <div class="box1">
      <h3>New Wins</h3>
      <h1>230</h1>
    </div>
    <div class="box2">
      <h3>Trail-Win Rate</h3>
      <h1>9.86%</h1>
    </div>
    <div class="box3">
      <h3>New MBR</h3>
      <h1>$25,690</h1>
    </div>
    <div class="box4">
      <h3>Page Views</h3>
      <canvas id="piechart"></canvas>
    </div>
  </div>
  <div class="chart-bar-bottom">
    <div class="bbox1">
      <canvas id="bubbleChartCanvas"></canvas>
    </div>
    <div class="bbox2">
      <canvas id="barChartCanvas"></canvas>
    </div>
  </div>
</div>
